hr{
    border-top: 2px solid lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

p, form{
    font-size: 1.2em;
}
.wrap {
    display: table;
    /*width:50%;*/
    /*height:325px;*/
}
.value {
    display: table-cell;
    vertical-align: bottom;
    text-align:center;
}
h1{
    text-align: center;
}