.chartObjSm {
    width: 48%;
    height: 350px;
    min-width: 200px;
    float: left;
    background: #efefef;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.23);
    -moz-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.23);
    box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.23);
    margin: 5px 1% 10px 1%;
    text-align: center;
}
.chartObjSm p {
    font-size: 1em;
    float: left;
    width: 100%;
}
.chartObjSm p em {
    font-size: 3em;
    clear: both;
    width: 100%;
}


.chart-color1 {
    /*   RED */
    /*fill: #941d26;*/
    fill: rgb(178, 34, 34);
}

/* GREEN */
.chart-color2 {
    fill: #1d840e;
}
.chart-color3 {
    /*fill: #941d26;*/
    fill: #B22222;
}
.chart-color4 {
    fill: #FFA600;
}
.chart-color5 {
    fill: #FFDC00;
}
.chart-color6 {
    fill: #FFE600;
}
.chart-color7 {
    fill: #FFF800;
}
.chart-color8 {
    fill: #D5FF00;
}
.chart-color9 {
    fill: #72F600;
}
.chart-color10 {
    fill: #07FB00;
}
.needle,
.needle-center {
    /*  GREY  */
    fill: #464A4F
}