.navbar-global .navbar-brand {
    color: white;
}

.navbar-global .navbar-user > li > a
{
    color: white;
}

.navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 0px;
    /*200*/
    width: 250px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
    width: 60px;
}

.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
}

.navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
}

.main-content {
    /*200*/
    margin-left: 250px;
    padding: 20px;
    padding-top: 0;
    /*new*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.collapsed + .main-content {
    margin-left: 60px;
}
/*--------------------------------------------------*/

table {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    margin: 0;
    padding: 0;
    border: none;
}
td, th {
    margin: 0;
    padding: 0; /* Поля вокруг содержимого таблицы */
    border: none; /* Параметры рамки */
}

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: #999999;
}

.style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #999999;
}

.style-1::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #312A25;
}